body{
background-image: url("../images/login.png") ;
  background-size:100%;
  width: 100%;
  height: 100vh;

 }
.bgg{
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;

}
.formadjust{
  position: relative;
  top: -80px;
  height: 100vh;
  padding: 5px;
  /* border : 2px solid red; */
  

}

.form-container{
  width: 100%;
  position: relative;
  top: 15vh;
  color: #707070;
  
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(98, 98, 98);
}
.logo{
  width: 15%;
}
.btn{
  background-color: #F9C0C0;
  margin: 0 auto;
  width: 100%;
  border-radius: 500px;
  font-weight: bold;
  
}
.btn:hover{
  background-color: #e09797;
}
.gtn{
  background-color: #fff;
  color: #707070;
  
}
p{
  padding: 10px 0;
  margin: 0;
  font-size: 15px;
}
a{
  color:#383838;
}
a:hover{
  color: #F9C0C0;
}
label{
  margin: 0;
}
.aa{
  border: 2px solid red;

}
.googlebtn{
  position: relative;
}
.googleicon{
  /* position: absolute;
  top: 5px;
  left: 4em; */
  width: 6%;
}
i{
  padding: 0px 5px;
}

