html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.daybox{
  position: relative;

  max-width: 400px;
  box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
  border-radius: 5px;
  cursor: pointer;  
  
}

.daybox:hover .bottom{
  position: relative;
    height: 80px;
    
}
.daybox:hover .dayweather{
  top: 0px;
  opacity: 1;
}

.top{
  position: relative;
  color: aliceblue;
  height: 300px;
  
  border-radius: 5px 5px 0 0;
}

.night{
  position: relative;
  background: linear-gradient(20deg,#19283D,#1D678F);
  animation: daylight 5s infinite;

}
.morning{
  position: relative;
  background: linear-gradient(20deg,#adc5e6,#2fb6ff);
  animation: daylight 5s infinite;
}

@keyframes daylight{
  0%{
    background-position: 100% 30%;
  }
  100%{
    background-position: 100% 100%;
  }
}

.textArea{
  padding-left: 2em;
  height: 50%;
}
.weatherImg > img{
  position: relative;
  margin-left: -1em;
  top: -2em;
  width: 75%;
  mix-blend-mode: initial;
  opacity: 0.8;
  animation: deanimate 3s infinite;

}
@keyframes deanimate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}


.moon{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 15px -15px ;
  position: absolute;
  left: 50px;
  top: 100px;
  animation: moonmove 20s infinite;
}
@keyframes moonmove {
  0% {
    box-shadow: 15px -15px #FFD633;
    transform: translateX(-15px) translateY(15px);
  }
  100% {
    box-shadow: -30px 30px #FFD633;
    transform: translateX(30px) translateY(-30px);
  }
}

.sun{
  width: 500px;
  height: 500px;
  /* transform: scale(20%); */
  position: absolute;
  right: -5px;
  bottom: -50px;
  background-image: url("../../images/shawnIMAGES/sun.png");
  animation: circle 50s infinite;
}
@keyframes circle {
  0% {
    transform: scale(15%) rotate(0deg)
  }
  100% {
    transform: scale(15%) rotate(360deg)
  }
}

.bottom{
  position: relative;
  height: 10px;
  transition: 1s;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  background-color: rgb(116, 119, 125);
  
}


.dayweather{
  position: relative;
  width: cal(100%/7-5px);
  text-align: center;
  padding: 5px;
  margin: 2px;
  height: 80px;
  top: 20px;
  opacity: 0;
  transition: 0.5s;
  font-size: 0.5em;
  
}
.dayweather > img{
  position: relative;
  bottom: 1em;
  width: 80%;
}


.dayweather:nth-child(1){
  transition-delay: 0.2s;
}
.dayweather:nth-child(2){
  transition-delay: 0.4s;
}
.dayweather:nth-child(3){
  transition-delay: 0.6s;
}
.dayweather:nth-child(4){
  transition-delay: 0.8s;
}
.dayweather:nth-child(5){
  transition-delay: 1s;
}
.dayweather:nth-child(6){
  transition-delay: 1.2s;
}
.dayweather:nth-child(7){
  transition-delay: 1.4s;
}

.textArea{
  position: relative;
  top: 20px;
}
.city{
  margin-top: -10px;
  font-weight:lighter;

  font-size: small;
}
.thisDate{
  margin-top: -8px;
  font-weight:lighter;
  font-size: small;
  opacity: 0.5;

}

.fmonth{
  position: relative;
  font-size: 1px;
  padding-top: -2em ;
  margin-top: -18px;
  opacity: 0.8;
}
.fpic{
  position: relative;
  margin-top: -7px;
  height: 25px;
  
}
.p_under {
  color: #fff;
}
