body {
    background-image: url("../../images/scenery/pic/try.png");
    background-repeat: repeat;
    background-size: contain;
    width: 100%;

}

/* 卡片樣式 */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    height: 270px;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

/* 分區 */
.content1 .area {
    font-size: 15px;
    margin: 10px auto;
    width: 500px;
    background-color: #F9C0C0;
}

.aaaaa {
    display: inline-block;
}

.aaaaa:hover {
    color: blue;
    cursor: pointer;
    /*四方捲動*/
}

.aaaaa:active {
    background-color: yellow;
}

/* 主頁面 */
.content2 {
    width: 1000px;
    margin: 20px auto;
    min-height: 300px;
}

/* 分類 */
.sidebar_left {
    display: block;
    float: left;
    margin: 10px auto;
    width: 150px;

    background-color: #F9C0C0;
}

/* 景點 */
.index_right {
    margin: 10px auto;
    width: 800px;
    float: right;
    border-radius: 5px;
    background-color: #F9C0C0;
}


/* 彈出式視窗 */
.modal {

    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}

/* Modal Content/Box */
/* 彈出式視窗 內容*/
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    font-size: larger;
    /* Could be more or less, depending on screen size */
}

/* 彈出式視窗 文字 圖片*/
.modal-content img,
.modal-content p {
    display: block;
    margin: auto;
    padding: 0 0 10px 0;
    text-align: center;
}

.modal-content img {
    width: 50%;
}

/* The Close Button 叉叉*/
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* The Close Button 叉叉*/
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* load more按鈕 */
.more {
    width: 790px;
    margin: 10px auto;
    clear: both;
    position: relative;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

@media only screen and (max-width: 3000px) {
    .footer {
        bottom: auto;
    }
}

/* rwd */
@media only screen and (max-width:1000px) {
    body {
        background-color: pink;
    }

    .content2 {
        width: 300px;
        margin: 20px auto;
    }


    /* 分區 */
    .content1 .area {
        font-size: 20px;
        margin: 10px auto;
        width: 300px;
        background-color: #F9C0C0;
    }

    /* 分類 */
    .sidebar_left {
        display: none;
        margin: 10px auto;
        width: 300px;
        border: 5px solid red;
        background-color: #F9C0C0;
    }

    /* 景點 */
    .index_right {
        margin: 10px auto;
        width: 300px;
        border: 5px solid purple;
    }

    .card {
        width: 280px;
    }

    .more {
        width: 280px;
        margin: 10px auto;
    }

    .modal-content {
        margin: 15% auto;
        /* 15% from the top and centered */
        width: 80%;

    }

    .modal-content p {
        font-size: medium;
    }

    .footer {
        display: none;
    }
}