body {
    background-image: url("../../images/EllisImages/page03/背景花4.jpeg");
    background-repeat: repeat;
    background-size: contain;
}

input {
    zoom: 150%;
}

/* 卡片樣式 */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 420px;
    height: 430px;
    float: left;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.card-img {
    width: 368px;
    height: 240px;
}

/* 分區 */
.content1 .area {
    font-size: 30px;
    margin: 10px auto;
    width: 1530px;
    font-weight: bold;
    background-color: #F9C0C0;
    border-radius: 10px;
    border: 3px solid red;
}

.aaaaa {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.aaaaa:hover {
    color: blue;
    cursor: pointer;
    /*四方捲動*/
}

.aaaaa:active {
    background-color: yellow;
}

/* 主頁面 */
.content2 {
    width: 1650px;
    margin: 20px auto;
}

/* 分類 */
.sidebar_left {
    display: block;
    float: left;
    margin: 10px auto;
    width: 190px;
    font-size: 30px;
    font-weight: bold;
    background-color: #F9C0C0;
    border-radius: 10px;
}

/* 景點 */
.index_right {
    margin: 10px auto;
    width: 1290px;
    float: right;
    border-radius: 5px;
    background-color: #F9C0C0;

}


/* 彈出式視窗 */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}

/* Modal Content/Box */
/* 彈出式視窗 內容*/
.modal-content {
    background-color: #fefefe;
    margin: 50px auto;
    /* 15% from the top and centered */
    padding: 0 20px;
    border: 1px solid #888;

    /* Could be more or less, depending on screen size */
}

#myModal_inner {
    width: 60%;
}

/* 彈出式視窗 文字 圖片*/
.modal-content img {
    float: left;
    display: block;
    margin: auto;
    padding: 0 0 10px 0;
    text-align: center;

}

.modal-content h3 {
    overflow: visible;

}

.modal-content img {
    width: 70%;
}

.modal-content button {
    height: 50px;
    font-size: 30px;
}

/* The Close Button 叉叉*/
.close {
    color: black;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

/* The Close Button 叉叉*/
.close:hover,
.close:focus {
    color: blue;
    cursor: pointer;
}

/* load more按鈕 */
.more {
    width: 1290px;
    height: 50px;
    font-size: 30px;
    margin: 10px auto;
    clear: both;
    position: relative;
    border-radius: 5px;
}

.trytry {
    display: none;
    /* 默认是隐藏的，这样在第一屏才不显示 */
    position: fixed;
    /* 位置是固定的 */
    zoom: 200%;
    bottom: 20px;
    /* 显示在页面底部 */
    left: 20px;
    /* 显示在页面的右边 */
    z-index: 99;
    /* 确保不被其他功能覆盖 */
    border: 1px solid #F9C0C0;
    /* 显示边框 */
    outline: none;
    /* 不显示外框 */
    background-color: #fff;
    /* 设置背景背景颜色 */
    color: #F9C0C0;
    /* 设置文本颜色 */
    cursor: pointer;
    /* 鼠标移到按钮上显示手型 */
    padding: 10px 15px 15px 15px;
    /* 增加一些内边距 */
    border-radius: 10px;
    /* 增加圆角 */
    font-size: 30px;
    font-weight: bold;
}

.trytry:hover {
    background-color: #F9C0C0;
    /* 鼠标移上去时，反转颜色 */
    color: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 4000px) {
    .footer {
        bottom: auto;
    }
}

@media only screen and (max-width: 1700px) {
    .card {
        width: 32%;
        height: 368px;
        font-size: 17px;
    }
    .content1 .area {
        width: 1000px;
        font-size: 21px;
    }

    .card-img {
        height: 200px;
    }

    .content2 {
        width: 1080px;
    }

    /* 分類 */
    .sidebar_left {
        width: 150px;
        font-size: 25px;
    }

    /* 景點 */
    .index_right {
        width: 910px;
        border-radius: 5px;
    }

    .modal-content h3 {
        font-size: 30px !important;
    }

    .more {
        width: 910px;
    }
}

/* rwd */
@media only screen and (max-width:1000px) {
    body {
        background-color: pink;
    }

    .content2 {
        width: 630px;
        margin: 20px auto;
    }


    /* 分區 */
    .content1 .area {
        font-size: 20px;
        margin: 10px auto;
        width: 500px;
    }

    /* 分類 */
    .sidebar_left {
        display: none;
        margin: 10px auto;
        width: 100px;
        border: 5px solid red;
        background-color: #F9C0C0;
    }

    /* 景點 */
    .index_right {

        margin: auto;
        width: 630px;
        border: 5px solid purple;
    }

    .card {
        width: 300px;
    }

    .more {
        width: 620px;
        margin: 10px auto;
    }



    .modal-content h3 {
        font-size: 20px !important;
    }

    .modal-content p {
        font-size: medium;
    }

    .modal-content button {
        height: 30px;
        font-size: 20px;
    }

    .footer {
        display: none;
    }

    .trytry {
        zoom: 100%;
    }
}