<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="../public/js/EllisJS/_js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../public/all.css/first/rest.css">
    <link rel="stylesheet" href="../public/all.css/first/style.css">
    <link rel="stylesheet" href="../public/all.css/first/0701.css">

<body>
    <%- include('navbar.ejs') %>
    <div class="wrap">
        <div class="east-banner position-relative">
            <div class="black"> 
            </div>
            <div class="position-absolute top-50 start-50 translate-middle">
                <h1 class="text-white text-center animate__animated animate__backInDown animate__delay-1s">東京東部地區</h1>
            </div>
            <!-- <nav class="area-nav">
                <div class="container flex">
                    <div class="logo">
                        <h1>
                            <a href="#">LOGO</a>
                        </h1>
                    </div>
                    <div class="menu area-menu">
                        <ul>
                            <li><a href="#">最新消息</a></li>
                            <li><a href="#">日本文化</a></li>
                            <li><a href="#">探索行程</a></li>
                            <li><a href="#">旅行計劃</a></li>
                            <li><a href="#">地圖路線</a></li>
                        </ul>
                    </div>
                    <a href="#" class="showmenu"></a>
                </div>
            </nav> -->
        </div>
        <div class="content">
            <section>
                <div class="container">
                    <div class="title">
                        <p class="h3 pb-4">江戶文化餘韻和跨時代傳承的相撲及浮世繪，與東京晴空塔城和第三波咖啡浪潮等並存，傳統文化與現代活力交會激盪之地</p>
                        <p>在東京的東側地帶，從淺草的寺院到兩國的相撲文化，處處可見日本傳承已久、引以為傲的傳統文化。新落成的晴空塔及咖啡廳一級戰區清澄白河等亦為此區注入年輕活力。</p>
                    </div>
                    <div class="transportation">
                        <h1 class="ms-5 pt-3">旅遊指南</h1>
                        <p>從淺草乘船巡航隅田川至台場 <br>從淺草乘船巡航隅田川至台場 <br>在淺草採購伴手禮及工藝品 <br> 在兩國參觀相撲</p>
                    </div>
                    <ul class="list flex area-landmark p-0">
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京東部/o_1dg4rrdo1g921n20h4rclfmj1g.jpeg" alt="">
                                    <div class="mask">
                                        <h1>淺草寺</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京東部/d4650450.jpeg" alt="">
                                    <div class="mask">
                                        <h1>東京國立博物館</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京東部/71770656_2153438541623893_500242039330308096_o.jpeg" alt="">
                                    <div class="mask">
                                        <h1>澡堂畫廊</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京東部/nkalncfianovbwe.jpeg" alt="">
                                    <div class="mask">
                                        <h1>鈴本演藝場</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京東部/Ueno zoo.jpeg" alt="">
                                    <div class="mask">
                                        <h1>上野動物園</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京東部/61_0141_4.jpeg" alt="">
                                    <div class="mask">
                                        <h1>兩國</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京東部/67_0615_6_1400x1100.jpeg" alt="">
                                    <div class="mask">
                                        <h1>墨田水族館</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京東部/245_0196_8_1400x1100.jpeg" alt="">
                                    <div class="mask">
                                        <h1>花屋敷</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京東部/Shibamata-Taishakuten.jpeg" alt="">
                                    <div class="mask">
                                        <h1>柴又帝釋天</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- <div class="footer">
            <div class="container">
                <div class="footer-info">
                    <ul class="footer-group d-flex">
                        <li class="logo">
                            <h1>
                                <a href="#">LOGO</a>
                            </h1>
                        </li>
                        <li class="info">
                            <p>SHAWNSTUDIO CO.,LTD.</p>
                            <p>407 TAICHUNG,</p>
                            <p>SHAW-SLIN,FULUI-KEN</p>
                            <p> 04-66661234</p>
                            <p> TAIWAN</p>
                            <p>TEL04-1234-5678</p>
                        </li>
                        <li class="info">
                            <p><a href="#">各類資訊</a></p>
                            <p><a href="#">最新消息</a></p>
                            <p><a href="#">日本文化</a></p>
                            <p><a href="#">探索旅程</a></p>
                            <p><a href="#">旅行計劃</a></p>
                            <p><a href="#">地圖路線</a></p>
                        </li>
                        <li>
                            <h4>聯絡資訊</h4>
                            <ul class="contact-info d-flex">
                                <li>
                                    <a href="#">
                                        <img src="images/icon/facebook.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/email.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/gmail.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/line.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/phone-call.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/profile-user.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
    <%- include('footer.ejs') %>
</body>

</html>