<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="all.css/rest.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../public/all.css/first/0701.css">
</head>

<body>
    <%- include('navbar.ejs') %>

    <div class="wrap">
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">最新消息</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">日本文化</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">探索旅程</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">旅行計劃</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">地圖路線</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
        <div class="container-fluid month3-bg ">
            <div class="black"> 
            </div>
            <div class="position-absolute top-50 start-50 translate-middle">
                <h1 class="fs-1 text-white text-center animate__animated animate__backInDown animate__delay-1s">3月東京的觀光景點與活動推薦</h1>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8 gy-3">
                    <div class="text mb-3">
                        <h2 class="pb-3 text-danger ">3月的人氣活動與祭典</h2>
                        <p>非常推薦！在春暖花開的3月，東京的公園與庭園中，到處可見人們一起慶祝春天到來與櫻花盛開的熱鬧景象。此外，包括3月3日「女兒節」在內，傳統祭典活動也相當豐富。</p>
                    </div>
                    <div class="text mb-3">
                        <h2 class="pb-3 text-danger ">3月的東京天氣如何？</h2>
                        <p>3月的東京雖仍有涼意，但氣候宜人，平均氣溫9.4度，最高溫14.2度，最低溫則是5度。不需特別加上禦寒衣物，穿件毛衣或加件外套剛剛好。這時期的東京已很少下雪，但仍有可能下雨，月平均降雨量為116毫米。
                        </p>
                    </div>
                    <ul class="ok p-0">
                        <!-- js動態產生 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer">
        <div class="container">
            <div class="footer-info">
                <ul class="footer-group d-flex">
                    <li class="logo">
                        <h1>
                            <a href="#">LOGO</a>
                        </h1>
                    </li>
                    <li class="info">
                        <p>SHAWNSTUDIO CO.,LTD.</p>
                        <p>407 TAICHUNG,</p>
                        <p>SHAW-SLIN,FULUI-KEN</p>
                        <p> 04-66661234</p>
                        <p> TAIWAN</p>
                        <p>TEL04-1234-5678</p>
                    </li>
                    <li class="info">
                        <p><a href="#">各類資訊</a></p>
                        <p><a href="#">最新消息</a></p>
                        <p><a href="#">日本文化</a></p>
                        <p><a href="#">探索旅程</a></p>
                        <p><a href="#">旅行計劃</a></p>
                        <p><a href="#">地圖路線</a></p>
                    </li>
                    <li>
                        <h4>聯絡資訊</h4>
                        <ul class="contact-info d-flex">
                            <li>
                                <a href="#">
                                    <img src="images/icon/facebook.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/icon/email.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/icon/gmail.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/icon/line.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/icon/phone-call.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    </div>
    <%- include('footer.ejs') %>

</body>

</html>

<script>
    let ok = document.querySelector('.ok');

    var item = [{ "id": 1, "month": 3, "title": "櫻花祭", "image": "./month/x03_sakuramaturi_950_637.jpg.pagespeed.ic.sIPeEjzWSj.jpeg\t\t\t", "content": "每到3月底，東京人會舉辦各式活動，一同慶祝櫻花季。以上野公園的「上野櫻花祭」為例，您可欣賞到美麗的櫻花林蔭道，17世紀的俳句詩人「松尾芭蕉」也曾吟詠過其綽約風姿。而「隅田公園櫻花祭」則是享受河岸散步之趣的好機會，在東京晴空塔背景襯托下的櫻花景緻不容錯過。除此之外，六義園知名的枝垂櫻也值得一看，當夜幕低垂，在燈光的照射下，其風采更是增添了幾分魅力。" }, { "id": 2, "month": 3, "title": "東京馬拉松", "image": "./month/03_tokyomarason_950_637.jpeg", "content": "每年3月初舉行的「東京馬拉松」是代表東京的體育盛事之一，屆時會有眾多一般跑者與專業選手齊聚一堂，從東京都廳開始，慢跑穿梭在觀光景點及淺草、銀座等知名購物街之間。" }, { "id": 3, "month": 3, "title": "東京離島花卉", "image": "./month/03_shimanohana_670_450_02.jpeg", "content": "東京的各座離島每年都會舉行賞花活動。「八丈島小蒼蘭祭」能夠讓您一邊欣賞色彩鮮豔的花朵，一邊品嚐美味的戶外茶點。伊豆大島的「大島山茶節」則推出山茶花染布體驗課程。" }, { "id": 4, "month": 3, "title": "女兒節", "image": "./month/x03_hinamaturi_950_637.jpg.pagespeed.ic.40VbWHK759.jpeg", "content": "3月3日是日本的「女兒節」，人們在陳列台上擺飾優雅的人偶娃娃，用以祈求女孩健康幸福。京王廣場大飯店東京屆時將展出華麗無比的女兒節裝飾。而在淺草的「江戶人偶放流」活動中，則可參觀人們在隅田川流放紙製人偶的景象。" }, { "id": 5, "month": 3, "title": "花卉節", "image": "./month/03_flowerfes_950_637.jpeg", "content": "正值3月盛開的花，可不是只有櫻花而已。國營昭和紀念公園每年3月底開始舉行「花卉節」，從4月的鬱金香、粉蝶花，一路到5月的罌粟，將為遊客帶來一場春日花卉盛宴。除此之外，還有展覽會、體驗課程及導覽遊等，每項活動皆值得一看。濱離宮恩賜庭園則有個彷彿黃色絨毯般的油菜花田，在高樓大廈環繞的對比下，更加引人入勝。" }, { "id": 6, "month": 3, "title": "深大寺　達摩不倒翁市集", "image": "./month/03_daruma_950_637.jpeg", "content": "圓滾滾的傳統人偶達摩不倒翁，是用以祈求好運的吉祥物。3月3日與4日舉行的「深大寺達摩不倒翁市集」是日本三大達摩不倒翁市集之一，現場將有大約300個攤位販售不同大小與設計的達摩不倒翁。購買後，還可以請僧侶幫您在不倒翁眼睛畫上梵字。" }, { "id": 7, "month": 3, "title": "過火祭", "image": "./month/03_hiwatari_670_450_02.jpeg", "content": "高尾山藥王院位於高尾山半山腰，為了祈求人們健康平安，每年在3月的第2個週日舉行過火祭。屆時，修行僧侶將赤腳走過燃燒的木材，作為傳統苦行的一部分。等火熄滅後，一般民眾也能參與過火儀式踩踩看。" }, { "id": 8, "month": 3, "title": "金龍之舞", "image": "./month/03_kinryu_950_637.jpeg", "content": "每年3月18日舉行的金龍之舞，起源於1958年為記念淺草寺正殿重建而舉辦的供奉儀式。金龍全長18公尺、重88公斤，舞者將在祭典音樂伴奏下起舞表演。\t\t\t" }];
    $.ajax({
        type: "GET",
        url: "http://localhost:3000/onlyMember/getMonthData/3",
        async: false,
        success: function (data) {
            item = JSON.parse(data);
        }
    })
    let str = '';
    let newImage = '';
    item.forEach(function (item, index) {
        
        newImage = item.image.toString().substring(8)
        let content = `<div class="text mb-3 mt-5 ">
                        <h3 class="text-danger">${item.title}</h3>
                        <p>${item.content}</p>
                        <img src="../public/images/youyu/month/${newImage}" alt="" class="img-fluid">
                    </div>`;
        str += content;
    })
    ok.innerHTML = str;
    console.log(item);
</script>