<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="../public/js/EllisJS/_js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../public/all.css/first/rest.css">
    <link rel="stylesheet" href="../public/all.css/first/style.css">
    <link rel="stylesheet" href="../public/all.css/first/0701.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

<body>
    <%- include('navbar.ejs') %>

    <div class="wrap">
        <div class="northern-banner position-relative">
            <!-- <nav class="area-nav">
                <div class="container flex">
                    <div class="logo">
                        <h1>
                            <a href="#">LOGO</a>
                        </h1>
                    </div>
                    <div class="menu area-menu">
                        <ul>
                            <li><a href="#">最新消息</a></li>
                            <li><a href="#">日本文化</a></li>
                            <li><a href="#">探索行程</a></li>
                            <li><a href="#">旅行計劃</a></li>
                            <li><a href="#">地圖路線</a></li>
                        </ul>
                    </div>
                    <a href="#" class="showmenu"></a>
                </div>
            </nav> -->
    <div class="black"> 
            </div>
            <div class="position-absolute top-50 start-50 translate-middle">
                <h1 class="text-white text-center animate__animated animate__backInDown animate__delay-1s">東京北部地區</h1>
            </div>
        </div>
        <div class="content">
            <section>
                <div class="container">
                    <div class="title">
                        <p class="h3 pb-4">前往在地民眾工作或娛樂的市集、神社及商店街，在繁華的市中心感受日本人的溫情</p>
                        <p>通往北日本的東京北部不僅有朝氣蓬勃的純樸住宅區，也保留了許多古老街景。不論是造訪古宅與匠人工房林立的谷中，還是前往人聲鼎沸的池袋商店街體驗次文化，都是相當不錯的選擇。</p>
                    </div>
                    <div class="transportation">
                        <h1 class="ms-5 pt-3">旅遊指南</h1>
                        <p>到「上野動物園」看一看備受喜愛的大熊貓 <br>在柴又的「山本亭」品嚐抹茶 <br>跟著活力十足的婆婆媽媽們，在巢鴨選購紅色內褲</p>
                    </div>
                    <ul class="list flex area-landmark p-0">
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/area012_0995_2.jpeg" alt="">
                                    <div class="mask">
                                        <h1>池袋</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/nezu-shrine-s1228278352.webp" alt="">
                                    <div class="mask">
                                        <h1>谷中根津</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/pixta_39182913_M.jpeg" alt="">
                                    <div class="mask">
                                        <h1>上野</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/30-55231.jpeg" alt="">
                                    <div class="mask">
                                        <h1>巢鴨</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/yanaka-ginza-1.jpeg" alt="">
                                    <div class="mask">
                                        <h1>日暮里</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/89_0160_3.jpeg" alt="">
                                    <div class="mask">
                                        <h1>赤羽</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/Jyorenji_hondo.jpeg" alt="">
                                    <div class="mask">
                                        <h1>板橋</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/area019_0999_14.jpeg" alt="">
                                    <div class="mask">
                                        <h1>北千住</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/33_0115_4.jpeg" alt="">
                                    <div class="mask">
                                        <h1>柴又</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/moto_1.jpg" alt="">
                                    <div class="mask">
                                        <h1>練馬
                                        </h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/National_Museum_of_Modern_Art,_Tokyo.jpeg" alt="">
                                    <div class="mask">
                                        <h1>東京美術館</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/東京北部/462_0682_1_1400x1100.jpeg" alt="">
                                    <div class="mask">
                                        <h1>彌生美術館</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- <div class="footer">
            <div class="container">
                <div class="footer-info">
                    <ul class="footer-group d-flex">
                        <li class="logo">
                            <h1>
                                <a href="#">LOGO</a>
                            </h1>
                        </li>
                        <li class="info">
                            <p>SHAWNSTUDIO CO.,LTD.</p>
                            <p>407 TAICHUNG,</p>
                            <p>SHAW-SLIN,FULUI-KEN</p>
                            <p> 04-66661234</p>
                            <p> TAIWAN</p>
                            <p>TEL04-1234-5678</p>
                        </li>
                        <li class="info">
                            <p><a href="#">各類資訊</a></p>
                            <p><a href="#">最新消息</a></p>
                            <p><a href="#">日本文化</a></p>
                            <p><a href="#">探索旅程</a></p>
                            <p><a href="#">旅行計劃</a></p>
                            <p><a href="#">地圖路線</a></p>
                        </li>
                        <li>
                            <h4>聯絡資訊</h4>
                            <ul class="contact-info d-flex">
                                <li>
                                    <a href="#">
                                        <img src="images/icon/facebook.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/email.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/gmail.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/line.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/phone-call.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/profile-user.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
    <%- include('footer.ejs') %>
</body>

</html>