<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文化巡禮</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


    <style>
        html {
            height: 100%;
        }

        /* .TokyoTravelHome {
            background-image: url('./page01/文化巡禮橫幅.jpg');
            max-width: 100%;
            height: 485px;
            min-width: 50%;
            min-height: 485px;


            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: 1px solid red;
        } */

        .TokyoTravelHomeImg {
            max-width: 100%;
            max-height: auto;
            min-width: 50%;
            min-height: auto;;
        }

        .SmallImg {
            /* display:inline-block; */
            margin: 10px;
            list-style: none;
            float: left;
            width: 20%;
            /*三列图片排列*/
            /* width: 400px; */
            height: auto;
            /* min-width: 200px;
            min-height: auto; */
            /* display:block; */
            /* float: inline-start;

            margin: 0 60px 20px 60px; */

        }

        .row .col-md-6 {

            /* margin: 0 5px; */
            flex: 1 1 30px;
            /* margin-top: 60px; */
            padding: 50px;
            color: rgb(8, 8, 8);
            /* background-image: url(./page01/背景花4.jpg); */


            /* background: rgb(249, 192, 192); */
        }

        #SmallImgAct {
            flex: 1 1 30px;
            padding: 50px;
        }

        #backgrand1 {
            /* background-color: rgb(243, 241, 241); */
            background-image: url(./page01/背景花4.jpg);
        }

        .row .col-md-6 img {
            width: 800px;
            height: 500px;

            max-width: 1000px;
            max-height: 800px;

            min-width: 50%;
            min-height: 50%;

        }

        .row .col-md-6 h3 {
            text-align: center;
            font-size: 50px;
            flex: 1 1 30px;
            font-weight: bold;



        }








        /* 文章 */
        .row .col-md-6 p {
            font-size: 25px;
            /* padding: 10px; */
            /* margin-bottom: 20px; */
            /* font-weight: bold; */
            /* background-color: rgb(249, 192, 192);
            background:rgba(229, 216, 187, 0.429); */


        }

        #menu123 a {
            margin: 50px;
            color: black;
        }

        #menu123 a:hover {
            margin: 50px;
            color: rgb(161, 56, 56);
        }

        #act666 {
            background-color: rgb(239, 239, 239);
        }
    </style>
</head>

<body>
    <%- include('navbar.ejs') %>
    <!-- <ul id=menu123>
        <li><a href="./page_01_food.html">美食巡禮</a>
        <li><a href="./travel1.html">文化巡禮</a>
        <li><a href="./travel3.html">風景巡禮</a>
        <li><a href="./travel2.html">動漫巡禮</a>
    </ul> -->
    <div class="TokyoTravelHome">
        <img src="../public/images/page_01/文化巡禮橫幅.jpg" alt="" class="TokyoTravelHomeImg">
        <!-- <img src="./page01/project2.jpg" alt="" class="back1" >   -->
    </div>
    <hr>
    <div style="text-align: center;font-size: 30px; background-image: url(../public/images/page_01/背景花.jpg); " id=menu123>
        <a href="/allPage/page_01_food">美食巡禮</a>
        <a href="/allPage/page_01_culture">文化巡禮</a>
        <a href="">風景巡禮</a>
        <a href="">動漫巡禮</a>
    </div>

    <hr>

    <div class="row" id="backgrand1">
        <div class="col-md-6" >
            <h3 class="fs-1">明治神宮</h3>
            <br><br><br>

            <p class="fs-5">位於原宿附近的明治神宮交通方便，不論是在竹下通購物完後順道來參拜，還是參拜完到表參道逛街都很順路，甚至上至新宿下至澀谷兩大購物天堂也非常方便！
            </p>
            <br><br>
            <div class="fs-1" id="backgrand1">名字由來?</div>
            <br><br>
            <p class="fs-5">
                顧名思義，明治神宮的主祭神就是第122代天皇──明治天皇與其妻子──昭憲皇太后。境內廣大像守護著神宮般的綠地，其實並不是一開始就有的，而是在神宮建造時，計畫能在100年後能成為完全的自然林而設計。明治神宮在2020年已邁入100周年，不過現在可說是已完全成為自然森林綠地了呢！
            </p>

        </div>

        <div class="col-md-6" style="text-align: center;">
            <div id="demo" class="carousel slide" data-bs-ride="carousel1">

                <!-- 指示符 -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>

                <!-- 轮播图片 -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../public/images/page_01/明治4.jpg" class="d-block" style="width:100% ;height: auto;min-width: 500px">
                    </div>
                    <div class="carousel-item">
                        <img src="../public/images/page_01/明治7.jpg" class="d-block" style="width:100% ;height: auto;min-width: 500px">
                    </div>
                    <div class="carousel-item">
                        <img src="../public/images/page_01/明治8.jpg" class="d-block" style="width:100% ;height: auto;min-width: 500px ">
                    </div>
                </div>

                <!-- 左右切换按钮 -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
            <!-- <img class="img-fluid" src="./page01/鳥椿1.jpg" alt="主圖"> -->


        </div>
        <div class="row">
            <div class="col-md-12" >
                <ul>
                    <img src="../public/images/page_01/明治小圖改1.png" alt="" class="SmallImg">
                    <img src="../public/images/page_01/明治小圖改2.png" alt="" class="SmallImg">
                    <img src="../public/images/page_01/明治小圖改3.png" alt="" class="SmallImg">
                    <img src="../public/images/page_01/明治小圖改4.png" alt="" class="SmallImg">
                    <!-- <li class="fs-5" id="SmallImgAct">進入本殿時，如果仔細觀察建築，會發現處處都有特殊紋章雕刻！多款「菊花紋章」是日本皇室的象徵，但為了避免和皇室的十六菊紋重複而不敬，明治神宮正殿木門上用的是十二菊紋，花瓣只有12瓣。而木門上的另一個雕刻則是「五三桐紋」，和現在日本政府所用的「五七桐紋」非常相像，但同樣減少了瓣數，做出了區別，表示尊重。了解簡單的背景知識後，明治神宮的參拜之旅是不是更有趣了呢？</li> -->

                </ul>
                <!-- <img src="./page01/明治小圖1.jpg" alt="">
                <img src="./page01/明治小圖2.jpg" alt="" class="SmallImg">
                <img src="./page01/明治小圖3.jpg" alt="" class="SmallImg"> -->
            </div>

        </div>





        <div class="fs-5" style="border-style:dashed" id="act666">
            明治神宮博物館（明治神宮ミュージアム）
            ・地址：東京都渋谷区代々木神園町1-1
            ・開幕日期：2019年10月26日（六）
            ・營業時間：10:00～16:30
            ・定休日：每週四
            ・入場費用：一般 1,000日圓、高中生以下 900日圓
        </div>
    </div>
    <hr>
    <div class="row" id="backgrand1">


        <div class="col-md-6" style="text-align: center;">
            <div id="demo2" class="carousel slide" data-bs-ride="carousel2">

                <!-- 指示符 -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo2" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo2" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo2" data-bs-slide-to="2"></button>
                </div>

                <!-- 轮播图片 -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../public/images/page_01/上野3.jpg" class="d-block" style="width:100% ;height: auto;min-width: 500px;">
                    </div>
                    <div class="carousel-item">
                        <img src="../public/images/page_01/上野2.jpg" class="d-block" style="width:100% ;height: auto;min-width: 500px">
                    </div>
                    <div class="carousel-item">
                        <img src="../public/images/page_01/上野1.jpg" class="d-block" style="width:100% ;height: auto;min-width: 500px">
                    </div>
                </div>

                <!-- 左右切换按钮 -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo2" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
            <!-- <img class="img-fluid" src="./page01/鳥椿1.jpg" alt="主圖"> -->


        </div>

        <div class="col-md-6" style="width:100% ;height: auto">
            <h3 class="fs-1">上野恩賜公園</h3>
            <br><br><br>

            <p class="fs-5">位於東京台東區的「上野恩賜公園」（以下稱「上野公園」），於1873年被指定為日本第一座公園，是處蘊含歷史的熱門景點。由於園內處處皆是綠意盎然的景色、因此別名也稱作「上野之森」。另外，在總面積約53萬平方公尺的廣大占地內，除了因大貓熊而聞名的「恩賜上野動物園」之外，「東京國立博物館」、「東京都美術館」以及「國立西洋美術館」等等的藝術文化景點也非常的豐富充實。
            </p>
            <br><br>
            <div class="fs-1" id="backgrand1">日本人春天必去活動!</div>
            <br><br>
            <p class="fs-5">
                說起上野公園的春天，令人難忘的還是櫻花美景吧！上野公園裡約有1,200株櫻花樹盛開齊放，每年的3月底〜4月初會舉辦「上野櫻花祭」的活動。櫻花祭期間會有販賣啤酒與炒麵、關東煮、大阪燒等等小吃店家而十分熱鬧，所以遊客們即使不準備任何東西前往賞櫻，也能盡興而歸喔！
            </p>

        </div>




        <div class="row">
            <div class="col-md-12"">
                <ul>
                    <img src="../public/images/page_01/上野小圖1.png" alt="" class="SmallImg">
                    <img src="../public/images/page_01/上野小圖2.png" alt="" class="SmallImg">
                    <img src="../public/images/page_01/上野小圖3.png" alt="" class="SmallImg">
                    <img src="../public/images/page_01/上野小圖4.png" alt="" class="SmallImg">
                    <!-- <li class="fs-5" id="SmallImgAct">進入本殿時，如果仔細觀察建築，會發現處處都有特殊紋章雕刻！多款「菊花紋章」是日本皇室的象徵，但為了避免和皇室的十六菊紋重複而不敬，明治神宮正殿木門上用的是十二菊紋，花瓣只有12瓣。而木門上的另一個雕刻則是「五三桐紋」，和現在日本政府所用的「五七桐紋」非常相像，但同樣減少了瓣數，做出了區別，表示尊重。了解簡單的背景知識後，明治神宮的參拜之旅是不是更有趣了呢？</li> -->

                </ul>
                <!-- <img src="./page01/明治小圖1.jpg" alt="">
                <img src="./page01/明治小圖2.jpg" alt="" class="SmallImg">
                <img src="./page01/明治小圖3.jpg" alt="" class="SmallImg"> -->
            </div>

        </div>





        <div class="fs-5" style="border-style:dashed " id="act666">
            上野恩賜公園
            最近車站:上野站（北海道新幹線 / 東北新幹線 / 秋田新幹線 / 山形新幹線 / 上越新幹線 / 北陸新幹線 / 京濱東北線 / 山手線 / 東北本線 / 宇都宮線 / 高崎線 / 常磐線 / 上野東京線 / 銀座線 / 日比谷線）
            ，徒步1分，
            聯絡電話，
            03-3828-5644
        </div>
    </div>
    <%- include('footer.ejs') %>
</body>

</html>