<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>風景巡禮</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        html {
            height: 100%;
        }
        body{
            background-image: url(../public/images/page_01/背景花4.jpg);
        }
        /* .TokyoTravelHome {
            background-image: url('./page01/文化巡禮橫幅.jpg');
            max-width: 100%;
            height: 485px;
            min-width: 50%;
            min-height: 485px;


            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: 1px solid red;
        } */

        .TokyoTravelHomeImg {
            max-width: 100%;
            max-height: auto;
            min-width: 50%;
            min-height: auto;

        }



        .row .col-md-8 {
            height: 450px;
            /* margin: 0 5px; */
            /* flex: 1 1 30px; */
            /* margin-top: 60px; */
            padding: 25px;
            color: rgb(8, 8, 8);
            /* background-image: url(./page01/背景花4.jpg); */


            /* background: rgb(249, 192, 192); */
        }




        .row .col-md-4 img {
            width: 100%;
            height: 400px;

            max-width: 1000px;
            max-height: 800px;

            min-width: 50%;
            min-height: 50%;

        }


        .row .col-md-8 h3 {
            text-align: center;
            /* font-size: 50px; */
            /* flex: 1 1 30px; */
            /* font-weight: bold; */



        }
        
        .col-md-9 img{
            margin: 0 100px 0 100px;
            width: 80%;
            height: auto;
        }







        /* 文章 */


        #menu123 a{
            font-size: 25px;
            margin:25px;
            color: black;
        }

        #menu123 a:hover{
            font-size: 25px;
            margin:25px ;
            color: rgb(161, 56, 56);
        }

        /* #act666 {
            background-color: rgb(239, 239, 239);
        } */

        .row .col-md-6 {

            /* margin: 0 5px; */

            /* margin-top: 60px; */
            /* padding: 50px; */
            color: rgb(8, 8, 8);
            background-image: url(./page01/4.jpg);


            /* background: rgb(249, 192, 192); */
        }

        .row .col-md-6 p {
            padding: 25px;
        }




        .row .col-md-6 img {
            width: 800px;
            height: 700px;

            max-width: 1000px;
            max-height: 800px;

            min-width: 50%;
            min-height: 50%;

        }

        .row .col-md-6 h3 {
            text-align: center;
            /* font-size: 50px; */

            /* font-weight: bold; */

        }
        p{
            margin: 0 50px 0 50px;
        }

        #scape_h3 {
            color: black;
            padding: 25px;
            margin-top: 20px;
        }

        #scape_1{
            color: black;
            padding: 25px;
            /* margin-top: 20px; */
            text-decoration:none;
        }
    </style>
</head>

<body>
    <%- include('navbar.ejs') %>
    <!-- <ul id=menu123>
        <li><a href="./page_01_food.html">美食巡禮</a>
        <li><a href="./travel1.html">文化巡禮</a>
        <li><a href="./travel3.html">風景巡禮</a>
        <li><a href="./travel2.html">動漫巡禮</a>
    </ul> -->
    <div class="TokyoTravelHome">
        <img src="../public/images/page_01/風景巡禮橫幅.jpg" alt="" class="TokyoTravelHomeImg">
        <!-- <img src="./page01/project2.jpg" alt="" class="back1" >   -->
    </div>
    <hr>
    <div style="text-align: center; " id=menu123>
        <a href="/allPage/page_01_food">美食巡禮</a>
        <a href="/allPage/page_01_culture">文化巡禮</a>
        <a href="/allPage/page_01_scape">風景巡禮</a>
        <a href="/allPage/page_01_anime">動漫巡禮</a>
    </div>

    <hr>

    <div class="row" id="backgrand1">
        <div class="col-md-8">
            <h3 class="fs-1"  id="scape_h3">風景旅遊名勝-箱根</h3>
            <br>

            <p class="fs-5">在早期的日劇或電影中最常出現的旅遊抽獎獎品就是箱根了，箱根作為連接東京與京都的重要位置，相當繁榮。在那個年代就以溫泉街治癒了眾多旅途中疲憊的旅客，包括從各國遠道而來的貴賓與在地居民。
            </p>
            <br><br>
            <h3 class="fs-3" id="scape_1"">交通方式?</h3>
            <br><br>
            <p class="fs-5">
                從新宿到箱根的時候，利用小田急浪漫特快（Romance car）最方便又最快約75分鐘，中途不需轉車，全車對號座位。其他從東京車站，羽田機場，成田機場，橫濱站也都有電車往箱根
            </p>
            

        </div>

        <div class="col-md-4">
            <div>
                <img src="../public/images/page_01/箱根1.jpeg" alt="" class="ActImg">
            </div>
            <!-- <img class="img-fluid" src="./page01/鳥椿1.jpg" alt="主圖"> -->
        </div>
    </div>
    <br>
    <br>
    <!--  -->

    <div class="row" id="backgrand2">
        <div class="col-md-6" ">
            <h3 class=" fs-3" id="scape_1">老舖名菓別錯過！湯もち（麻糬）</h3>
            

            <p class="fs-5">抵達箱根湯本站可先別急著走!這裡可說是箱根旅遊的起點站，伴手禮土產店鱗次櫛，周邊還有40多家溫泉旅館所聚集的溫泉街，非常熱鬧。
            </p>
          
            <p class="fs-5">
                箱根湯本街上有幢厚重感十足的洋風建物，裡面是60年和菓子名店「ちもと」。這裡最有名的是用竹葉包著，名為「湯もち」（湯麻糬）的點心。與一般包著紅豆的日式麻糬不同，湯もち裡面包的是切成丁的紅豆羊羹，國產糯米製作，柔軟細緻的麻糬則帶有柚子與柑橘的清香。
            </p>


            <p class="fs-5">
                店家旁設有內用甘味處「茶のちもと」，在這也可以享用到湯麻糬，以及因應季節更換的和菓子、抹茶、與刨冰。
            </p>

        </div>

        <div class="col-md-6" style="text-align: center;">
            <img src="../public/images/page_01/箱根店家.jpg" alt="">




        </div>
    </div>
    <br>


    <!--  -->



    <div class="row" id="backgrand1">
        <div class="col-md-8">
            <h3 class="fs-3" id="scape_1">享受箱根登山纜車的登山樂趣</h3>
            <br><br>

            <p class="fs-5">到達箱根湯本站想開始風景之旅的，那就坐箱根登山電車吧。採用了スイッチバック（Z字形行駛道路）的電車，從箱根湯本站到強羅站一路曲曲折折到山上。
            </p>
            <!-- <br><br> -->
            <!-- <div class="fs-3" id="backgrand1">享受箱根登山纜車的登山樂趣</div> -->
            <br><br>
            <p class="fs-5">
                透過車窗，盡情享受箱根四季的風情萬種也是此路線的魅力之一。箱根登山電車是連接了強羅站與早雲山站的電車。在有著200m以上高低差的山道上，不慌不忙，按照自己的節奏慢慢上升。雖然也可以親自徒步爬山，但是想要省力氣的話還是利用它比較好。從強羅站到早雲山站，需要420日圓(9分鐘)。
            </p>

        </div>

        <div class="col-md-4">
            <div>
                <img src="../public/images/page_01/箱根登山.jpg" alt="" class="ActImg">
            </div>
            <!-- <img class="img-fluid" src="./page01/鳥椿1.jpg" alt="主圖"> -->
        </div>
    </div>
    

    <div class="row" id="backgrand1">
        <div class="col-md-9">
            <h3 class="fs-3" id="scape_1">令人驚豔的大湧谷景色</h3>
            <br>
            <br>
            <p class="fs-5">，在早雲山站(OH62)下車並換乘箱根空中纜車(右下照片)前往大湧谷(OH63)。隨著海拔升高，氣溫逐漸下降。由於箱根空中纜車的車廂為360度玻璃設計，能夠眺望美景。秋季可以欣賞鮮豔的紅葉，天氣晴朗的日子還能像上面照片中一樣看到富士山。如果想欣賞富士山雄姿的遊客，請記得選擇靠門的座位哦！
            </p>
            <br>
            <img src="../public/images/page_01/大湧谷4.jpeg" alt="">
            
            <br><br>
            <p class="fs-5">
                大湧谷是約3000年前因火山噴發而形成的景觀，周圍的火山至今仍煙氣騰騰。

晴朗的碧空與黃色的火山濃煙形成鮮明對比，蔚為壯觀。飄散的硫磺氣息，讓你真切感受到火山的活動。既然來到這裡，一定不要錯過名產黑雞蛋！這是利用火山的地熱製作而成的煮雞蛋，看起來黑漆漆的，據說吃1個能延壽7年。


        </div>

        <div class="col-md-3">
            <div class="card" style="width: 400px;">
                <img src="../public/images/page_01/大湧谷2.jpeg" class="card-img-top" alt="...">
                <div class="card-body" style="text-align: center;">
                    <p class="card-text">黑雞蛋可以在立有黑雞蛋雕像的“黑蛋館”購買(5個雞蛋含稅500日圓)。</p>
                    <a href="https://www.hakonenavi.jp/international/tw/spot/77" >黑蛋館</a>
                </div>
            </div>
            <div class="card" style="width: 400px;">
                <img src="../public/images/page_01/大湧谷3.jpeg" class="card-img-top" alt="...">
                <div class="card-body" style="text-align: center;">
                    <p class="card-text">大涌谷 驛站(禮品店):以黑雞蛋為主題的點心、做成富士山形狀的巧克力等，種類豐富的伴手禮琳琅滿目。</p>
                    <a href="https://www.hakonenavi.jp/international/tw/spot/387">大涌谷 驛站</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer.ejs') %>
</body>

</html>