<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="../public/all.css/shawnCSS/bootstrap.min.css">
    <script src="../public/js/shawnJS/jquery.min.js"></script>
    <script src="../public/js/shawnJS/popper.min.js"></script>
    <script src="../public/js/shawnJS/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/all.css/shawnCSS/style.css">    
  

  <title>Tokyoe</title>
</head>

<%- include('navbar.ejs') %>
<body >

  <section class="container-fluid ">
    <section class="  row justify-content-center ">
      <section class=" col-12 col-sm-7 col-lg-3  ">
        
        <form class="form-container p-4" method="post" action="/member/register">
          
          <div class="text-center">
            <img class="SSSlogo rounded mx-auto d-block " src="../public/images/shawnIMAGES/logo.png" alt="">
            <h3>歡迎使用Tokyo</h3>
          </div>
          <!-- error message -->
          <!-- <% if(err_msg.length > 0){%> -->
          <div class="alert alert-danger" role="alert"><%=  err_msg %></div>
          <!-- <% }%> -->

          <!-- name -->
          <div class="form-group">
            <!-- <label for="name">姓名</label>
            <input type="text"  class="form-control" id="name" name="name" required> -->
            <label for="exampleInputEmail1">姓名</label>
            <input type="text" class="form-control" onkeyup="this.value=this.value.replace(/\s+/g,'')" id="name" name="name" required>
          </div>

          <!-- email -->
          <div class="form-group">
            <label for="InputEmail">電子信箱</label>
            <input type="email" class="form-control" onkeyup="this.value=this.value.replace(/\s+/g,'')" id="email" name="email"  aria-describedby="emailHelp" required>
          </div>
   

          <!-- passeord -->
          <div class="form-group">
            <label for="InputPassword">密碼</label>
            <input type="password" class="form-control" onkeyup="this.value=this.value.replace(/\s+/g,'')" id="password" name="password" required>
          </div>
          

          <!-- confirmPassword -->
          <div class="form-group">
            <label for="confirmPassword">確認密碼</label>
            <input type="password" class="form-control" onkeyup="this.value=this.value.replace(/\s+/g,'')" id="confirmPassword" name="confirmPassword" required>
          </div>

          <!-- age -->
          <!-- <div class="form-group">
            <label for="birthday">生日</label>
            <input type="date" class="form-control" id="birthday" name="birthday">
          </div> -->
          
          <div class=" text-center">
            
            <button id="regisButton" type="submit"  class=" SSSbtn btn  btn-primary btn-block">註冊</button>
            <p>或</p>

            <div class="googlebtn ">
              <!-- <img class="googleicon" src="./images/google.png" alt=""> -->
            <button type="submit" class="gtn SSSbtn btn btn-primary btn-block "><a class="text-light text-decoration-none" href="/member/auth/google">透過GOOGLE 帳戶繼續操作</a></button>

              <!-- <button type="submit" class="gtn SSSbtn btn btn-primary btn-block"> <i class="fa-brands fa-google "></i>透過GOOGLE 帳戶繼續操作</button> -->
            </div>

            <p>繼續使用代表你同意 Tokyo 的 <a href="/member/serve">《服務條款》</a>，並確認你已詳閱我們的<a href="/member/privacy">《隱私權政策》</a></p>
            <p>   已經有帳號了?<a href="/member/login">登入</a></p>
          </div>

      </section>
    </section>
  </section>


  <script>

    // $("#regisButton").on("click", async function(){
    //   var dataToServer = {
    //     name: $("#name").prop("value").trim(),
    //     email: $("#email").prop("value"),
    //     password: $("#password").prop("value"),
    //     confirmPassword: $("#confirmPassword").prop("value"),
    //     // birthday: $("#confirmPassword").prop("value"),
    //   };
    //   console.log(dataToServer[name]);

    //   var result = await $.ajax({
    //     type: "post",
    //     url: "/member/register",
    //     data: dataToServer
    //   });

    //   // window.location = "/mycenter.html";


    // })

    // $(document).ready(function() {

    // $('#regisButton').unbind( 'click').click( function() {

    //     $.ajax({
    //         type: "POST",
    //         url: "/member/register",
    //         data: {
    //             // username: $("#username").val(),
    //             // password: $("#password").val(),
    //             name: $("#name").val().trim(),
    //             email: $("#email").val().trim(),
    //             password: $("#password").val().trim(),
    //             confirmPassword: $("#confirmPassword").val().trim(),
    //         },
    //         success: function(data)
    //         {
    //            console.log("OK");
    //         }
    //     });
    // });

    // });
  </script>
    <%- include('footer.ejs') %>
 
</body>
</html>