<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/all.css/scenery/02.css">
    <script src="../public/js/scenery/_js/jquery.min.js"></script>
    <script src="../public/js/scenery/_js/jquery-3.6.0.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%- include('navbar.ejs') %>
</head>

<body>
    <!-- <p style="color: white; font-size: 50px; position: absolute; margin-left: 100px; margin-top: 50px;">分區景點 </p>
    <img src="../public/images/scenery/pic/55555.jpg" width="50%" height="200px"> -->

    <!-- 取得使用者的資料 -->
    <div id="username" style="display: none">
        <%= userSeeeionName%>
    </div>
    <div id="userid" style="display: none">
        <%= userId%>
    </div>
    <!-- 東京23區 -->
    <div class="content1">
        <div class="area">
            <div onclick="choose_area(this)" class="aaaaa">足立區</div>|
            <div onclick="choose_area(this)" class="aaaaa">荒川區</div>|
            <div onclick="choose_area(this)" class="aaaaa">板橋區</div>|
            <div onclick="choose_area(this)" class="aaaaa">江戶川區</div>|
            <div onclick="choose_area(this)" class="aaaaa">大田區</div>|
            <div onclick="choose_area(this)" class="aaaaa">葛飾區</div>|
            <div onclick="choose_area(this)" class="aaaaa">北區</div>|
            <div onclick="choose_area(this)" class="aaaaa">江東區</div>|
            <div onclick="choose_area(this)" class="aaaaa">品川區</div>|
            <div onclick="choose_area(this)" class="aaaaa">澀谷區</div>|
            <div onclick="choose_area(this)" class="aaaaa">新宿區</div>|
            <div onclick="choose_area(this)" class="aaaaa">杉並區</div>|
            <div onclick="choose_area(this)" class="aaaaa">墨田區</div>|
            <div onclick="choose_area(this)" class="aaaaa">世田谷區</div>|
            <div onclick="choose_area(this)" class="aaaaa">台東區</div>|
            <div onclick="choose_area(this)" class="aaaaa">中央區</div>|
            <div onclick="choose_area(this)" class="aaaaa">千代田區</div>|
            <div onclick="choose_area(this)" class="aaaaa">豐島區</div>|
            <div onclick="choose_area(this)" class="aaaaa">中野區</div>|
            <div onclick="choose_area(this)" class="aaaaa">練馬區</div>|
            <div onclick="choose_area(this)" class="aaaaa">文京區</div>|
            <div onclick="choose_area(this)" class="aaaaa">港區</div>|
            <div onclick="choose_area(this)" class="aaaaa">目黑區</div>|
            <div onclick="all_scenery()" class="aaaaa">全部</div>
        </div>
    </div>

    <!-- 主頁面 -->
    <div class="content2 ">
        <!-- 分類  checkbox-->
        <div class="sidebar_left">
            <p>
                <p5 id="classification"> 分類 </p5>:<br>
                <label><input type="checkbox" id="checkbox1" value="美食" onclick="sort(this)">美食</label><br>
                <label><input type="checkbox" id="checkbox2" value="神社" onclick="sort(this)">神社</label><br>
                <label><input type="checkbox" id="checkbox3" value="動畫、電影" onclick="sort(this)">動畫、電影</label><br>
                <label><input type="checkbox" id="checkbox4" value="景點" onclick="sort(this)">景點</label>
            </p>
        </div>
        <!-- 景點 -->
        <div class="index_right" id="index_right">
            <div class="a" id="index_right1"> </div>
            <div class="a" id="index_right2"> </div>

            <div>
                <button class="more" onclick="more(travel)">load more</button>
            </div>
        </div>
    </div>
    <button class="trytry" title="回到头部">︽</button>
    <!-- 彈出式視窗 -->
    <div class="modal" id="myModal"> </div>



    <script>/////////////////////////////////////////////////////

        $(function () {
            var win = $(window);
            var trytry = $('.trytry');
            var sidebar_left = $('.sidebar_left');
            // 当用户滚动到离顶部100像素时，展示回到顶部按钮
            win.scroll(function () {
                if (win.scrollTop() > 100) {
                    trytry.show();
                } else {
                    trytry.hide();
                }

            });
            // 当用户点击按钮时，通过动画效果返回头部
            trytry.click(function () {
                $('html, body').animate({
                    scrollTop: 0
                }, 200);
            });
        });



        //設定參數
        var username = $('#username').text().trim();
        var UserID = $('#userid').text().trim();
        var area = '足立區', travel = [], member_favorite = [], sss = 2;
        // console.log(UserID);

        //取得一般景點資料
        function all_scenery() {
            //清空
            for (w = 1; w <= sss; w++) {
                var ect = document.getElementById(`index_right${w}`);
                ect.innerHTML = '';
            }
            $.ajax({
                type: "GET",
                url: "http://localhost:3000/onlyMember/getViewData",
                async: false,
                success: function (data) {
                    travel = JSON.parse(data);
                },
                error: function (data) {
                    console.log('noooo');
                }
            })
            // console.log(travel);
            all(travel);
            high(7);
            $(".more").remove();
            $("#index_right2").after('<div><button class="more" onclick="more(travel)">load more</button></div>');
        }

        //取得地區景點資料
        function start() {
            $.ajax({
                type: "GET",
                url: "http://localhost:3000/onlyMember/getViewData/" + area, ///////////onlyMember  要想
                async: false,
                success: function (data) {
                    travel = JSON.parse(data);
                    // console.log(travel);
                },
                error: function (data) {
                    console.log('noooo');
                }
            })
            all(travel);
        }

        //取得會員收藏的一般景點資料
        function favorite() {
            $.ajax({
                type: "GET",
                url: "http://localhost:3000/onlyMember/getMemberCollectViewData/" + username,
                async: false,
                success: function (data) {
                    member_favorite = JSON.parse(data);
                },
                error: function (data) {
                    console.log('error');
                }
            })
            for (i = member_favorite.length - 1; i >= 0; i--) {
                if (member_favorite[i].id != UserID) {
                    member_favorite.splice(i, 1);
                }
            }
        }

        //主頁面高度
        function high(changi) {
            var num = Math.floor(changi / 6) + 1;
            if (changi == 6) {
                num = num - 1;
            }
            // if (num > 4) { num = 4 };
            $('.content2').css('min-height', `${num * 880 + 10}px`);
        }

        //執行
        favorite();
        all_scenery();

        //選擇地區
        function choose_area(a) {
            travel = [];
            for (w = 1; w <= sss; w++) {
                var ect = document.getElementById(`index_right${w}`);
                // console.log(ect);
                ect.innerHTML = '';
            }
            area = a.innerHTML;
            sss = 2;
            //分類欄改變
            var classification = document.getElementById('classification');
            classification.innerHTML = area;
            output = [];
            for (a = 1; a <= 4; a++) {
                $(`#checkbox${a}`).prop("checked", false);
            }
            $(".more").remove();
            $("#index_right2").after('<div><button class="more" onclick="more(travel)">load more</button></div>');
            start();
            high(travel.length);
        };


        //foreach每個卡片
        function all(select_put) {
            var q = 0, i = 0, count = 0;
            select_put.forEach(function (item) {
                if (i % 6 == 0) {
                    q++;
                }
                if (q >= 3) {
                    return;
                }
                var obj = document.getElementById(`index_right${q}`);
                favorite();
                tagsetbadge(item.ViewTag);
                //區分有無最愛
                member_favorite.forEach(function (scenery1) {
                    if (item.ViewName == scenery1.ViewName) {
                        obj.innerHTML += '<div class="card">' +
                            '<img src = "../public/images/kent/' + item.ViewImage + '" class="card-img">' +

                            ' <div class="card-body position-relative"><br>' +
                            ' <p>' + item.ViewName + '</p>' +
                            tagcontent +
                            ' <button onclick="doit(this)" value="' + i + '">查看更多</button><br>' +
                            ' <button class="fa fa-heart" onclick="love(this)" style="color:red" value="' + item.ViewID + '" >點擊加入最愛</button><br>' +
                            '<span class="badge bg-secondary position-absolute buttom-0 start-0">' + item.Area + '</span>' +
                            '</div></div>';
                        count = 1;
                    }
                })
                if (count == 0) {
                    obj.innerHTML += '<div class="card">' +
                        '<img src = "../public/images/kent/' + item.ViewImage + '" class="card-img">' +
                        ' <div class="card-body position-relative"><br>' +
                        ' <div class="card-text"><p>' + item.ViewName + '</p></div>' +
                        tagcontent +
                        ' <button onclick="doit(this)" value="' + i + '">查看更多</button><br>' +
                        ' <button class="fa fa-heart-o" onclick="love(this)" value="' + item.ViewID + '" >點擊加入最愛</button><br>' +
                        '<span class="badge bg-secondary position-absolute buttom-0 start-0">' + item.Area + '</span>' +
                        '</div></div>';
                }
                i++;
                count = 0;
            })
        }
        //分類標籤
        function tagsetbadge(tag) {
            // console.log(tag);
            switch (tag) {
                case "景點":
                    tagcontent = `<span class="badge bg-primary position-absolute top-0 start-0">景點</span>`
                    break;
                case "美食":
                    tagcontent = `<span class="badge bg-success position-absolute top-0 start-0">美食</span>`
                    break;
                case "神社":
                    tagcontent = `<span class="badge bg-info position-absolute top-0 start-0">神社</span>`
                    break;
                case "動畫、電影":
                    tagcontent = `<span class="badge bg-warning position-absolute top-0 start-0">動畫、電影</span>`
                    break;
                case "賽馬":
                    tagcontent = `<span class="badge bg-danger position-absolute top-0 start-0">賽馬</span>`
                    break;
                case "夜店":
                    tagcontent = `<span class="badge bg-dark position-absolute top-0 start-0">夜店</span>`
                    break;
            }
        }

        //勾選
        let output = [];
        function sort(sort0) {
            //清空所有卡片
            for (w = 1; w <= sss; w++) {
                var ect = document.getElementById(`index_right${w}`);
                ect.innerHTML = '';
            }
            //勾選分類
            if (sort0.checked == true) {
                var old = output.length;
                travel.forEach((ttt) => {
                    if (sort0.value == ttt.ViewTag) {
                        output.push(ttt);
                    }
                })
                //無此分類
                if (output.length == old) {
                    sort0.checked = false;
                    alert('搜尋無果');
                }
                all(output);
                $(".more").remove();
                $("#index_right2").after('<div><button class="more" onclick="more(output)">load more</button></div>');
                // console.log(output.length);
                if (output.length >= 12) {
                    high(7);
                } else {
                    high(output.length);
                }
                sss = 2;
            }
            //取消勾選分類
            else if (sort0.checked == false) {
                output = output.filter((item) => item.ViewTag != sort0.value);
                all(output);
                if (output.length >= 12) {
                    high(7);
                } else {
                    high(output.length);
                }
            }
            //沒勾
            if (output.length == 0) {
                all(travel);
                $(".more").remove();
                $("#index_right2").after('<div><button class="more" onclick="more(travel)">load more</button></div>');
                if (travel.length >= 12) {
                    high(7);
                } else {
                    high(travel.length);
                }
            }
        }

        //彈出式視窗
        function doit(e) {
            //比對會員收藏
            favorite();
            let comeon = 'fa fa-heart-o', textcolor = '';
            member_favorite.forEach(function (scenery1) {
                if (output.length != 0) {
                    if (scenery1.ViewName == output[e.value].ViewName) {
                        // console.log(scenery1.ViewName);
                        comeon = 'fa fa-heart';
                        textcolor = 'style="color:red"'
                    }
                }
                if (scenery1.ViewName == travel[e.value].ViewName) {
                    // console.log(scenery1.ViewName);
                    comeon = 'fa fa-heart';
                    textcolor = 'style="color:red"'
                }
            })

            // Get the modal
            var modal = document.getElementById("myModal");
            if (output.length == 0) {
                modal.innerHTML = '<div class="modal-content" id="myModal_inner">' +
                    '<div class="modal-header">' +
                    '<span class="close">&times;</span>' +
                    '<h1 id="ti">' + travel[e.value].ViewName + '</h1></div>' +
                    ' <div><img src="../public/images/kent/' + travel[e.value].ViewImage + '" >' +
                    '<h3>' + travel[e.value].ViewText + '</h3></div>' +
                    ' <button class="' + comeon + '" onclick="love(this)"' + textcolor + ' value="' + travel[e.value].ViewID + ' " >點擊加入最愛</button><br>' +
                    '</div>';

            }
            else {
                modal.innerHTML = '<div class="modal-content" id="myModal_inner">' +
                    '<div class="modal-header">' +
                    '<span class="close">&times;</span>' +
                    '<h1 id="ti">' + output[e.value].ViewName + '</h1></div>' +
                    ' <div><img src="../public/images/kent/' + output[e.value].ViewImage + '" >' +
                    '<h3>' + output[e.value].ViewText + '</h3></div>' +
                    ' <button class="' + comeon + '" onclick="love(this)"' + textcolor + ' value="' + output[e.value].ViewID + ' " >點擊加入最愛</button><br>' +
                    // ' <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d' + output[e.value].ViewMap + '!5e0!3m2!1szh-TW!2stw!4v1656984387857!5m2!1szh-TW!2stw" width="100%" height="300px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>' +
                    '</div>';
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            // When the user clicks on the button, open the modal
            modal.style.display = "block";
            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        //load more按鈕 顯示更多
        function more(motto) {

            if (motto.length > sss * 6) {

                $(".more").before(`<div class="a" id="index_right${sss + 1}"></div>`);
                var obj = document.getElementById(`index_right${sss + 1}`);
                for (var ddd = 0; ddd < 6; ddd++) {
                    //東西不夠，回傳
                    if (motto[sss * 6 + ddd] === undefined) {
                        $(".more").remove();
                        sss++;
                        return;
                    }
                    var count = 0;
                    tagsetbadge(motto[sss * 6 + ddd].ViewTag);
                    member_favorite.forEach(function (scenery1) {
                        if (motto[sss * 6 + ddd].ViewName == scenery1.ViewName) {
                            obj.innerHTML += '<div class="card">' +
                                '<img src = "../public/images/kent/' + motto[sss * 6 + ddd].ViewImage + '" class="card-img">' +
                                ' <div class="card-body  position-relative"><br>' +
                                ' <div class="card-text"><p>' + motto[sss * 6 + ddd].ViewName + '</p></div>' +
                                tagcontent +
                                ' <button onclick="doit(this)" value="' + (sss * 6 + ddd) + '">查看更多</button><br>' +
                                ' <button class="fa fa-heart" onclick="love(this)" style="color:red" value="' + motto[sss * 6 + ddd].ViewID + '" >點擊加入最愛</button><br>' +
                                '<span class="badge bg-secondary position-absolute buttom-0 start-0">' + motto[sss * 6 + ddd].Area + '</span>' +
                                '</div>';
                            count = 1;
                        }
                    })
                    if (count == 0) {
                        obj.innerHTML += '<div class="card">' +
                            '<img src = "../public/images/kent/' + motto[sss * 6 + ddd].ViewImage + '" class="card-img">' +
                            ' <div class="card-body  position-relative"><br>' +
                            ' <div class="card-text"><p>' + motto[sss * 6 + ddd].ViewName + '</p></div>' +
                            tagcontent +
                            ' <button onclick="doit(this)" value="' + (sss * 6 + ddd) + '">查看更多</button><br>' +
                            ' <button class="fa fa-heart-o" onclick="love(this)" value="' + motto[sss * 6 + ddd].ViewID + '" >點擊加入最愛</button><br>' +
                            '<span class="badge bg-secondary position-absolute buttom-0 start-0">' + motto[sss * 6 + ddd].Area + '</span>' +
                            '</div>';
                    }
                    count = 0;
                    high(sss * 6);
                }
            } else if (motto.length <= sss * 6) {
                //沒有資料||不夠
                $(".more").remove();
                sss--;
                // console.log(motto.length);
                high(motto.length);
            }
            sss++;
        };

        //愛心方程式
        function love(viewID) {
            console.log('viewID');
            favorite();
            //重新取得最愛
            member_favorite.forEach(function (scenery1) {
                if (viewID.value == scenery1.ViewID) {
                    $.ajax({
                        type: "post",
                        url: "http://localhost:3000/onlyMember/deletememberviewdata/" + UserID + "/" + viewID.value,
                        async: false
                    })
                }
            })

            if (viewID.className == 'fa fa-heart-o') {
                $(viewID).removeClass('fa fa-heart-o');
                $(viewID).addClass('fa fa-heart');
                $(viewID).css('color', 'red');
                // console.log(viewID.value);
                $.ajax({
                    type: "post",
                    url: "http://localhost:3000/onlyMember/addmemberviewdata/" + UserID + "/" + viewID.value,
                    async: false,
                    success: function (data) {
                        alert('新增成功');
                    },
                    error: function () {
                        alert('新增失敗');
                    }
                })
            } else if (viewID.className == 'fa fa-heart') {
                $(viewID).removeClass('fa fa-heart');
                $(viewID).addClass('fa fa-heart-o');
                $(viewID).css('color', 'black');
                $.ajax({
                    type: "post",
                    url: "http://localhost:3000/onlyMember/deletememberviewdata/" + UserID + "/" + viewID.value,
                    async: false,

                    success: function (data) {
                        alert('刪除成功');
                    },
                    error: function () {
                        alert('刪除失敗');
                    }
                })
            }
        }
    </script>
    <%- include('footer.ejs') %>
</body>



</html>