<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="../public/js/EllisJS/_js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../public/all.css/first/rest.css">
    <link rel="stylesheet" href="../public/all.css/first/style.css">
    <link rel="stylesheet" href="../public/all.css/first/0701.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>
</head>

<body>
    <%- include('navbar.ejs') %>
    <div class="wrap">
        <div class="shibyua-banner">
            <!-- <nav class="area-nav">
                <div class="container flex">
                    <div class="logo">
                        <h1>
                            <a href="#">LOGO</a>
                        </h1>
                    </div>
                    <div class="menu area-menu">
                        <ul>
                            <li><a href="#">最新消息</a></li>
                            <li><a href="#">日本文化</a></li>
                            <li><a href="#">探索行程</a></li>
                            <li><a href="#">旅行計劃</a></li>
                            <li><a href="#">地圖路線</a></li>
                        </ul>
                    </div>
                    <a href="#" class="showmenu"></a>
                </div>
            </nav> -->
            <div class="black"> 
            </div>
            <div class="position-absolute top-50 start-50 translate-middle">
                <h1 class="text-white text-center animate__animated animate__backInDown animate__delay-1s">東京西部地區</h1>
            </div>
        </div>
        <div class="content">
            <section>
                <div class="container">
                    <div class="title">
                        <p class="h3 pb-4">「action」的吆喝聲、年輕人的文化、新穎的流行時尚、古老又美好的場所、次文化的市街或時髦的市街。東京西部有許多對流行敏感的人不可錯過的精彩之處</p>
                        <p>有著設計工作坊或電影工作室、藝廊或大學的東京西部，是個充滿創造性才能的區域。高圓寺或下北澤這類聚集許多學生的市街有著非常多現場演唱的歌廳或舊衣店，澀谷或原宿則是傳遞流行訊息的基地。
                        </p>
                    </div>
                    <div class="transportation">
                        <h1 class="ms-4 pt-3">精彩之處</h1>
                        <p>在中野尋找罕見的收藏版商品，盡享絕品拉麵 <br>
                            享受新宿白天和夜晚的樂趣 <br>
                            逛逛青山時髦的女裝店或咖啡店<br>
                            在綠意豐饒的代代木公園郊遊</p>
                    </div>
                    <ul class="list flex area-landmark p-0">
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/2021-03-04新宿.jpeg" alt="">
                                    <div class="mask">
                                        <h1>新宿</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/a0000953_main下北澤.jpeg" alt="">
                                    <div class="mask">
                                        <h1>下北澤</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/area034_1005_27代官山.jpeg" alt="">
                                    <div class="mask">
                                        <h1>代官山</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/72_0148_1中野.jpeg" alt="">
                                    <div class="mask">
                                        <h1>中野</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/21_0105_5_1400x1100 代代木.jpeg" alt="">
                                    <div class="mask">
                                        <h1>代代木</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/area032_1009_81_1024x800青山.jpeg" alt="">
                                    <div class="mask">
                                        <h1>青山-表參道</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/Kichijoji_Station-2吉祥寺.jpeg" alt="">
                                    <div class="mask">
                                        <h1>吉祥寺</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/pixta_47909784_S 大久保.jpeg" alt="">
                                    <div class="mask">
                                        <h1>大久保</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/707_0456_2.jpeg" alt="">
                                    <div class="mask">
                                        <h1>二子玉川</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/08-33085高圓寺.jpeg" alt="">
                                    <div class="mask">
                                        <h1>高圓寺
                                        </h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/7091816原宿.jpeg" alt="">
                                    <div class="mask">
                                        <h1>原宿</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="area-pic">
                                    <img src="../public/images/youyu/澀谷區/a0004233_main澀谷.jpeg" alt="">
                                    <div class="mask">
                                        <h1>澀谷</h1>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- <div class="footer">
            <div class="container">
                <div class="footer-info">
                    <ul class="footer-group d-flex">
                        <li class="logo">
                            <h1>
                                <a href="#">LOGO</a>
                            </h1>
                        </li>
                        <li class="info">
                            <p>SHAWNSTUDIO CO.,LTD.</p>
                            <p>407 TAICHUNG,</p>
                            <p>SHAW-SLIN,FULUI-KEN</p>
                            <p> 04-66661234</p>
                            <p> TAIWAN</p>
                            <p>TEL04-1234-5678</p>
                        </li>
                        <li class="info">
                            <p><a href="#">各類資訊</a></p>
                            <p><a href="#">最新消息</a></p>
                            <p><a href="#">日本文化</a></p>
                            <p><a href="#">探索旅程</a></p>
                            <p><a href="#">旅行計劃</a></p>
                            <p><a href="#">地圖路線</a></p>
                        </li>
                        <li>
                            <h4>聯絡資訊</h4>
                            <ul class="contact-info d-flex">
                                <li>
                                    <a href="#">
                                        <img src="images/icon/facebook.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/email.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/gmail.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/line.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/phone-call.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/profile-user.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
      
    </div>
    <%- include('footer.ejs') %>
</body>

</html>