<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="../public/js/EllisJS/_js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../public/all.css/first/rest.css">
    <link rel="stylesheet" href="../public/all.css/first/style.css">
    <link rel="stylesheet" href="../public/all.css/first/0701.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

<body>
    <%- include('navbar.ejs') %>
        <div class="wrap">
            <div class="south-banner position-relativer">
                <!-- <nav class="area-nav">
                <div class="container flex">
                    <div class="logo">
                        <h1>
                            <a href="#">LOGO</a>
                        </h1>
                    </div>
                    <div class="menu area-menu">
                        <ul>
                            <li><a href="#">最新消息</a></li>
                            <li><a href="#">日本文化</a></li>
                            <li><a href="#">探索行程</a></li>
                            <li><a href="#">旅行計劃</a></li>
                            <li><a href="#">地圖路線</a></li>
                        </ul>
                    </div>
                    <a href="#" class="showmenu"></a>
                </div>
            </nav> -->
            <div class="black"> 
            </div>
            <div class="position-absolute top-50 start-50 translate-middle">
                <h1 class="text-white text-center animate__animated animate__backInDown animate__delay-1s">東京南部地區</h1>
            </div>
            </div>
            <div class="content">
                <section>
                    <div class="container">
                        <div class="title">
                            <p class="h3 pb-4">未來派的超高建築與美麗的並木道，與懷舊的東京塔對比鮮明，歡迎探索東京最具魅力的地區吧</p>
                            <p>如科幻電影般的御台場，較不為人知、充滿綠意的等等力溪谷等，東京南部是個有對比性的市街典型。東京最高等級的住宅區、摩登商業大廈、歐式小街和戶外咖啡店融為一體的一區。</p>
                        </div>
                        <div class="transportation">
                            <h1 class="ms-5 pt-3">精彩之處</h1>
                            <p>在目黑川沿岸和櫻花樹影婆娑的中目黑散散步 <br> 探索東京的六本木藝術三角 <br> 天王洲的街頭藝術和工藝啤酒 <br> 從東京塔眺望閃耀市街的夜景</p>
                        </div>
                        <ul class="list flex area-landmark p-0">
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/東京南部/PC270356.jpeg" alt="">
                                        <div class="mask">
                                            <h1>台場</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/東京南部/20220210_130903_fb125c1d_w640.jpg" alt="">
                                        <div class="mask">
                                            <h1>品川 天王洲</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/東京南部/103_0016_4.jpeg" alt="">
                                        <div class="mask">
                                            <h1>中目黑</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/東京南部/img2019120915534952568100.jpeg" alt="">
                                        <div class="mask">
                                            <h1>六本木</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/東京南部/azabu_juban-2.jpeg" alt="">
                                        <div class="mask">
                                            <h1>麻布十番</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/東京南部/ebisu-01.jpeg" alt="">
                                        <div class="mask">
                                            <h1>惠比壽</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/東京南部/top_main.jpeg" alt="">
                                        <div class="mask">
                                            <h1>自由之丘</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/東京南部/D1D228A1-E30B-46B4-90D9-439FAAB6DB51-1.jpeg"
                                            alt="">
                                        <div class="mask">
                                            <h1>穴守稲荷神社</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/東京南部/IkekamiHonmonTemple_1.jpeg" alt="">
                                        <div class="mask">
                                            <h1>池上本門寺</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <!-- <div class="footer">
            <div class="container">
                <div class="footer-info">
                    <ul class="footer-group d-flex">
                        <li class="logo">
                            <h1>
                                <a href="#">LOGO</a>
                            </h1>
                        </li>
                        <li class="info">
                            <p>SHAWNSTUDIO CO.,LTD.</p>
                            <p>407 TAICHUNG,</p>
                            <p>SHAW-SLIN,FULUI-KEN</p>
                            <p> 04-66661234</p>
                            <p> TAIWAN</p>
                            <p>TEL04-1234-5678</p>
                        </li>
                        <li class="info">
                            <p><a href="#">各類資訊</a></p>
                            <p><a href="#">最新消息</a></p>
                            <p><a href="#">日本文化</a></p>
                            <p><a href="#">探索旅程</a></p>
                            <p><a href="#">旅行計劃</a></p>
                            <p><a href="#">地圖路線</a></p>
                        </li>
                        <li>
                            <h4>聯絡資訊</h4>
                            <ul class="contact-info d-flex">
                                <li>
                                    <a href="#">
                                        <img src="images/icon/facebook.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/email.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/gmail.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/line.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/phone-call.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/profile-user.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
            
        </div>
        <%- include('footer.ejs') %>
</body>

</html>