<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="../public/js/EllisJS/_js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../public/all.css/first/rest.css">
    <link rel="stylesheet" href="../public/all.css/first/style.css">
    <link rel="stylesheet" href="../public/all.css/first/0701.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

<body>
    <%- include('navbar.ejs') %>
    <div class="wrap">
        <div class="water-banner  position-relativer">
            <!-- <nav class="area-nav">
                <div class="container flex">
                    <div class="logo">
                        <h1>
                            <a href="#">LOGO</a>
                        </h1>
                    </div>
                    <div class="menu area-menu">
                        <ul>
                            <li><a href="#">最新消息</a></li>
                            <li><a href="#">日本文化</a></li>
                            <li><a href="#">探索行程</a></li>
                            <li><a href="#">旅行計劃</a></li>
                            <li><a href="#">地圖路線</a></li>
                        </ul>
                    </div>
                    <a href="#" class="showmenu"></a>
                </div>
            </nav> -->
            <div class="black"> 
            </div>
            <div class="position-absolute top-50 start-50 translate-middle">
                <h1 class="text-white text-center animate__animated animate__backInDown animate__delay-1s">東京水上活動</h1>
            </div>>
        </div>
        <div class="content">
            <section>
                <div class="container">
                    <div class="title">
                        <p class="h3 pb-4">東京必訪歷史水路與新開發水岸區</p>
                        <p>17世紀時為供給當時首都江戶使用而建造的四通八達水路系統，對現代的東京而言仍不可或缺。如今重新開發東京灣與東京的水岸區，除了向這段歷史致敬，也將這裡化為最新最熱門的景點。歡迎來到東京灣與東京新開發的水岸區，探索體驗屬於自己的玩樂方式。</p>
                    </div>
                    <div class="transportation">
                        <div class="transportation">
                            <h1 class="ms-5 pt-3">旅遊指南</h1>
                            <p>在賞櫻期間於千鳥淵搭乘手划船 <br>
                                富藝術氣息的天王洲ISLE與餐廳林立的木板路 <br>
                                從港灣的晚餐郵輪眺望光芒閃耀的東京地平線<br>
                                透過船隻、輕艇或衝浪板周遊東京的歷史水路</p>
                        </div>
                    </div>
                    <div class="activities">
                        <div class="title">
                            <h1>水上活動</h1>
                        </div>
                        <ul class="play-list list flex p-0">
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/waterpage/s_pixta_15444565_M.jpeg" alt="">
                                        <div class="mask">
                                        </div>
                                        <div class="list-title">
                                            <h1>東京釣魚樂</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/waterpage/cycling_main.jpeg" alt="">
                                        <div class="mask">
                                        </div>
                                        <div class="list-title">
                                            <h1>自行車欣賞水岸風景</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/waterpage/02_853_572.jpeg" alt="">
                                        <div class="mask">
                                        </div>
                                        <div class="list-title">
                                            <h1>水陸之旅</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/waterpage/20190624waterparkfb01.jpeg" alt="">
                                        <div class="mask">
                                        </div>
                                        <div class="list-title">
                                            <h1>東京水上活動</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="title">
                        <h1>東京水邊自然風光</h1>
                    </div>
                    <div class="boat">
                        <ul class="play-list list flex p-0">
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/waterpage/main_pc.jpeg" alt="">
                                        <div class="mask">
                                        </div>
                                        <div class="list-title">
                                            <h1>東京四季水岸風景</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/waterpage/zenpukujigawa1.jpeg" alt="">
                                        <div class="mask">
                                        </div>
                                        <div class="list-title">
                                            <h1>賞櫻河川</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/waterpage/iwakura.jpeg" alt="">
                                        <div class="mask">
                                        </div>
                                        <div class="list-title">
                                            <h1>觀賞螢火蟲</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="area-pic">
                                        <img src="../public/images/youyu/waterpage/506_0358_1_1400x1100.jpeg" alt="">
                                        <div class="mask">
                                        </div>
                                        <div class="list-title">
                                            <h1>東京河岸散步</h1>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        
        <!-- <div class="footer">
            <div class="container">
                <div class="footer-info">
                    <ul class="footer-group d-flex">
                        <li class="logo">
                            <h1>
                                <a href="#">LOGO</a>
                            </h1>
                        </li>
                        <li class="info">
                            <p>SHAWNSTUDIO CO.,LTD.</p>
                            <p>407 TAICHUNG,</p>
                            <p>SHAW-SLIN,FULUI-KEN</p>
                            <p> 04-66661234</p>
                            <p> TAIWAN</p>
                            <p>TEL04-1234-5678</p>
                        </li>
                        <li class="info">
                            <p><a href="#">各類資訊</a></p>
                            <p><a href="#">最新消息</a></p>
                            <p><a href="#">日本文化</a></p>
                            <p><a href="#">探索旅程</a></p>
                            <p><a href="#">旅行計劃</a></p>
                            <p><a href="#">地圖路線</a></p>
                        </li>
                        <li>
                            <h4>聯絡資訊</h4>
                            <ul class="contact-info d-flex">
                                <li>
                                    <a href="#">
                                        <img src="images/icon/facebook.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/email.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/gmail.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/line.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/phone-call.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/icon/profile-user.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
       
    </div>
    <%- include('footer.ejs') %>
</body>

</html>