.firstPage-header{
    background-image: url(../../images/index/clay-banks-hwLAI5lRhdM-unsplash.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
.month-bg{
    background-image: url(../../images/index/calender.bg.png);
}
.pic{
    margin-right: 15px;
    width: 16%;
    overflow: hidden;
    position: relative;
}
.pic img{
   width: 100%;
   height: 100%;
}
.carousel-control-prev{
    width: 100px;
    opacity: 1;
}
.carousel-control-next{
    width: 100px;
    opacity: 1;
}
.mask{
    position: absolute;
    background-color: rgb(0,0,0,0.4);
    top: 0;
    left: 0;
    height: 100%;
    text-align:center;
    width: 100%;
    opacity: 0;
}
/* .mask h1{
    text-align: center;
    color: #fff;
    position: absolute;
    padding-top: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
} */
.pic a:hover .mask{
    opacity: 1;
}
ul{
    padding: 0;
}
.locationList li {
    max-width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 10px;
}
.location-pic img{
    height: 250px;
}
@media(max-width:768px){
    .carousel-control-prev{
        width: 50px;
    }
    .carousel-control-next{
        width: 50px;
    }
}
.offcanvas-body{
    display: none;
}
@media(max-width:500px){
    .offcanvas-body{
        display: block;
    }
}
.month3-bg{
    background-image: url(../../images/index/bg/march_1.jpeg);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.area-banner{
    background-image: url(../../images/youyu/分頁/58_0138_3.jpeg);
    width: 100%;
    height: 550px;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.shibyua-banner{
    background-image: url(../../images/youyu/澀谷區/area031_1013_51澀谷banner.jpeg);
    width: 100%;
    height: 450px;
    background-position: center;
    position: relative;
}
.northern-banner{
    background-image: url(../../images/youyu/東京北部/Jyorenji_hondo.jpeg);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.south-banner{
    background-image: url(../../images/youyu/東京南部/IkekamiHonmonTemple_1.jpeg);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.east-banner{
    background-image: url(../../images/youyu/東京東部/ebbf63ca-7cbd-48e1-826d-0e65833a7a3d.jpeg);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.water-banner{
    background-image: url(../../images/youyu/waterpage/5146_1_1400x1100.jpeg);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.transportation{
    max-width: 900px;
    background-color: rgb(169, 169, 169,0.7);
}
.transportation p{
    font-size: 18px;
    line-height: 2em;
    padding: 1em;
}
.title{
    max-width: 900px;
}
.list-title{
    color: #fff;
}
.black{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgb(0,0,0,0.4);
}