/* index首頁--------------- */

body {
    /* font-size: 100%; */
}

/* .container {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin: 0 auto;
} */
.containerNAV {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* nav選單 */
nav .container flex {
    height: 61px;
    background-color: #fff;
    border-bottom: 1px solid #000;

}

.menu a:hover {
    font-size: 24px;
    font-weight: 100;
    color: rgb(130, 109, 223);
    margin-left: 1px;
    transition: 0.1s;
    background-color: rgb(255, 255, 255);
    padding: 1px 0px 0px 0px;
}

.menu {
    float: right;
}

.logo {
    /* float: left; */
    display: flex;
    align-items: center;
}

.logo h1 {
    line-height: 60px;
}

.logo h1 a {
    text-decoration: none;
    font-size: 30px;
    color: red;
}

.logo h1 img {
    width: 50px;
    height: 44px;
}

.shawn-logo {
    display: flex;
    align-items: center;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    padding-right: 1.5em;
    line-height: 60px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    display: block;
}

.icon {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 30px;
    display: block;
}

.showmenu {
    display: none;
}

@media(max-width:768px) {
    .menu ul li a {
        padding-right: 1em;
    }
}


@media(max-width:767px) and (min-width:568px) {
    .menu ul li a {
        padding-right: 3px;
    }
}

@media(max-width:569px) {
    .menu {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 2.3s;
        position: absolute;
        z-index: 100;
        top: 61px;
        left: 0;
        right: 0;
    }

    .menu ul li {
        background-color: #fff;
        text-align: center;
        float: none;
        border-bottom: 1px solid #000;
    }

    .menu ul li a {
        transition: all 0.3s;
        font-size: 16px;
    }

    .menu li:hover {
        background-color: #d86958;
        color: #000;
    }


    .showmenu {
        background-image: url(../images/index/menu-01.svg);
        width: 30px;
        height: 30px;
        display: block;
        margin: 1em;
    }

    .menushow .menu {
        max-height: 500px;
    }

}

/* nav選單 */

/* banner */
.banner {
    height: 630px;
    background-image: url(../images/index/clay-banks-hwLAI5lRhdM-unsplash.jpeg);
    background-position: center;
    background-size: cover;
}

.container-search {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 24%;
}

.input {
    display: flex;
}

.search {
    display: flex;
    border-radius: 18px;
    background-color: #fff;
}

input[type=search] {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1rem;
    padding-right: 1rem;
    border-radius: 19px;
    text-align: center;
    letter-spacing: 5px;
    height: 50px;
}

.search-btn {
    border-radius: 0 18px 18px 0;
    padding: 5px;
    display: block;
    background-color: #d86958;
    width: 50px;
    height: 50px;
}

.btn img {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    padding-top: 10px;
}

@media(max-width:768px) {
    .container-search {
        max-width: 60%;
        padding-top: 45%;
    }
}

@media(max-width:569px) {
    .banner {
        height: 300px;
    }

    .container-search {
        max-width: 60%;
        padding-top: 15%;
    }

    input[type=search] {
        font-size: 12px;
        padding-right: 0;
        height: 30px;
    }

    .search-btn {
        width: 30px;
        height: 30px;
    }
}

.calendar {
    position: relative;
    margin-top: 30px;
    background-image: url(../images/index/calender.bg.png);
    height: 500px;
}
<<<<<<< HEAD
/* h3 {
=======

h3 {
>>>>>>> a37c2ebb0b049d8625381a51827e5220612f1a19
    font-size: 2em;
    color: #fff;
    border-bottom: 3px solid #fff;
    display: inline-block;
<<<<<<< HEAD
} */
=======
}

>>>>>>> a37c2ebb0b049d8625381a51827e5220612f1a19
.calendar span {
    font-size: 26px;
    color: #fff;
}

.title {
    padding-top: 30px;
}

.month {
    padding-top: 30px;
    display: flex;
    overflow: hidden;
}

.month img {
    width: 202px;
}

.calendar_left {
    position: absolute;
    top: 45%;
    width: 40px;
    left: 15px;
}

.calendar_right {
    position: absolute;
    top: 45%;
    width: 40px;
    right: 15px;
}

.images {
    position: relative;
    margin-right: 10px;
}

.images a:hover .mask {
    opacity: 1;
}

@media(max-width:569px) {
    h3 {
        font-size: 18px;
    }

    .title span {
        font-size: 12px;
    }
}

.title h1 {
    font-size: 26px;
    color: #d86958;
}

.list {
    margin-top: 2%;
    margin-top: 2%;
    flex-wrap: wrap;
}

.list li {
    max-width: 31%;
    margin-bottom: 2%;
    position: relative;
}

.area-pic {
    height: 100%;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    opacity: 0;
}

.list li a:hover .mask {
    opacity: 1;
}

.mask h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-top: 35%;
}

.play-list li {
    max-width: 23%;
}

.list-title {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
}

.list-title h1 {
    font-size: 24px;
}

.play-list li a:hover .list-title h1 {
    color: red;
}

@media(max-width:960px) {
    .mask {
        background-color: rgb(0, 0, 0, 0);
        opacity: 1;
    }

    .mask h1 {
        font-size: 18px;
        background-color: rgb(0, 0, 0, 0.5);
        padding: 1em;
        margin-top: 25%;

    }

    .list-title h1 {
        font-size: 18px;
    }
}

@media(max-width:569px) {
    .mask h1 {
        font-size: 12px;
    }

    .list-title h1 {
        font-size: 12px;
    }

    .title h1 {
        font-size: 18px;
    }
}

/* footer */
.footer {
    margin-top: 5%;
    background-color: #814840;
}

.footer-group {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
    border-bottom: 2px solid #fff;
}

.footer-info {
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer-logo {
    width: 20%;
}

.contact {
    color: #fff;
}

.contact img {
    color: #fff;
    border-left-color: #fff;
    transform: scale(50px);
}

h4 {
    font-size: 20px;
    text-align: center;
    padding: 1em;
}

.info p {
    color: rgb(255, 255, 255);
    padding-bottom: 1em;
}

.info a {
    text-decoration: none;
    color: #fff;
}

.contact-info img {
    width: 50px;
}

.contact-info li {
    padding-right: 3%;
}

@media(max-width:768px) {
    .info p {
        font-size: 12px;
    }

    .contact-info img {
        width: 30px;
    }
}

@media(max-width:568px) {
    .info {
        display: none;
    }

    .contact-info img {
        padding-top: 0.5em;
        width: 30px;
    }

    h4 {
        font-size: 14px;
        padding: 5px;
    }

    .orange-line {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer-group {
        border-bottom: 1px solid #fff;
    }
}

@media(max-width:767px) and(min-width:568px) {
    .info {
        display: none;
    }

}



/* page_01 推薦行程-----------------------*/

/* 第一區header 拿來放導覽列 */

header {
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(249, 192, 192);
    box-shadow: 10px 1rem 1rem rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

header img {
    width: 50px;
    height: 40px;
    padding-bottom: -10px;
    filter: saturate(8);
}

/* 導覽列 */
header .menubar a {
    /* font-size: 20px; */
    font-weight: normal;
    color: black;
    padding: 10px;

}

/* 導覽列特效 */
header .menubar a:hover {
    font-size: 28px;
    font-weight: 100;
    color: brown;
    margin-left: 1px;
    transition: 0.1s;
    background-color: rgb(255, 229, 229);
    padding: 2px 1px 2px 2px;
}


/* 左上角LOGO字 */
header .logo {
    font-size: 22px;
    font-weight: normal;
    color: black;
}

#logo1 {
    width: 25%;
    height: 25%;
}

/* 右上角的漢堡 */
#menu {
    font-size: 25px;
    cursor: pointer;
    color: black;
    border: 1px solid rgb(9, 152, 152);
    padding: 8px;
    display: none;
}



/* 第二區 拿來放推薦行程底圖 */
/* TokyoTravelHome */
/* content_01 */

section {
    padding: 10px;

}

/* 整體 */
.TokyoTravelHome {
    display: flex;


    /* gap: 10px; */
    /* min-height: 500px; */
    align-items: center;
    /* background: url(../image/Shinjuku01.JPG) no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: rgb(249, 192, 192);
    flex-wrap: wrap;
}

/* 圖片 */
.TokyoTravelHome .image {
    /* flex:1 1 30px; */
    margin: 0 10%;
    max-width: 600px;
    /* height:inherit; */

    overflow: hidden;
    height: 600px;
}

/* 文字內容 */
.TokyoTravelHome .content_01 {
    margin: 0 10%;
    flex: 1 1 30px;
    margin-top: 60px;
    padding: 100px;
    color: white;
    /* background-color: blue; */

    /* background: rgb(249, 192, 192); */
}


.TokyoTravelHome .content_01 h3 {
    font-size: 30px;
}

.TokyoTravelHome .content_01 p {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.btn {
    /* background-color: #e09797; */
    /* background-color: #F9C0C0; */
    background-color: #e09797;

    padding: 10px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    z-index: 0;
}

.btn:hover {
    background-color: #F9C0C0;


    /* background-color: rgb(237, 237, 237); */
    color: white;
    /* box-shadow: inset 200px 0 0 0 wheat; */
    transition: 0.3s all;
}

/* 第三區 4個推薦行程內容 */

/* 推薦行程總體 */
.Category {
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    /* justify-content: center;  */
    /* align-items: center;  */
    align-items: center;

    border: 1px solid red;
    margin: 0 10%;
    background-color: white;

}

/* 推薦行程圖片 */
.Category .image {

    width: 800px;
    height: 600px;
    float: left;
    overflow: hidden;
    height: 600px;
}

/* 文章的CSS */
.Category .act {

    /* margin: 0 5px; */
    flex: 1 1 30px;
    margin-top: 60px;
    padding: 70px;
    color: rgb(141, 90, 109);
    background-color: rgb(249, 192, 192);
    ;

    /* background: rgb(249, 192, 192); */
}


.Category .act h3 {
    font-size: 30px;
}

.Category .act p {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}


/* 第四區 footer */

/* RWD手機版 */
@media(max-width:600px) {
    #menu {
        display: initial;
        position: absolute;
        right: 10px;
        top: 20px;
    }

    header .menubar {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: rgb(255, 229, 229);
        border-top: 3px solid gray;
        /* 隱藏下拉是選單 */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .menubar a {
        display: block;
        font-size: 22px;
        font-weight: normal;
        color: black;
        margin: 10px;
        padding: 6px;
        border-left: 3px solid gray;
        background-color: rgb(255, 229, 229);

    }

    header .menubar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding: 10px;
    }
}